/* Upload/Download Button Section */
#file-form {
    /* Layout */
    display: flex;
    gap: 8px;

    /* Hide <input class=""> */
    .file-button-input {
        display: none;
    }
}

/* Upload/Download Buttons (not technically <button>), other buttons */
#file-form .file-button-label,
button {
    /* Add click button cursor */
    cursor: pointer;

    border: 1px solid ButtonBorder;
    border-radius: 4px;
    padding: 2px 6px;
    background-color: ButtonFace;
}
