<!-- https://github.com/json-editor/json-editor/blob/master/docs/form-submission.html -->

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="assets/css/json-editor.css">
    <!-- json-editor CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/css/jsoneditor.min.css">
    <!-- Custom FontAwesome kit (v7) -->
    <script src="https://kit.fontawesome.com/f588742617.js" crossorigin="anonymous"></script>
</head>

<body>
    <form id="file-form">
        <label for="upload" class="file-button-label" title="Upload file to edit">
            <i class="fa-solid fa-upload"></i>
            Upload
        </label>
        <input id="upload" class="file-button-input" type="file" accept=".json">

        <label for="download" class="file-button-label" title="Download edited file">
            <i class="fa-solid fa-download"></i>
            Download
        </label>
        <input id="download" class="file-button-input" type="button">
    </form>

    <div>
        <form method="get">
            <input id="input" type="hidden" name="json">
            <div id='editor-container'></div>
            <button id="submit" class="btn btn-primary" width="100" type="submit">
                <i class="fa-solid fa-arrow-right"></i>
                Submit
            </button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.js"></script>
    <script src="assets/js/schema.js"></script>
    <script src="assets/js/json-editor.js"></script>
    <script src="assets/js/file-upload-download.js"></script>
</body>
